*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hide-view {
  display: none;
}

/* Landing Page */
.continue-form {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.continue-button {
  padding: 30px;
  font-family: "Notable", sans-serif;
  font-size: 20px;
  border-radius: 2px;
}

.minecraft-font {
  font-family: "Press Start 2P", cursive;
}

.bulky-font {
  font-family: "Notable", sans-serif;
}

.text-el {
  text-align: center;
  padding-top: 25px;
}

/* Correct Page */
.in-correct-text,
.score-complete {
  display: block;
  padding: 0 30px 30px;
}

/* Incorrect Page */
.correct-answer {
  padding: 10px;
  margin-bottom: 30px;
  font-family: "Press Start 2P", cursive;
}

/* Content Page */
li {
  list-style: none;
}

/* Cellphone screens */
.banner {
  background: rgb(242, 242, 242);
  background: linear-gradient(
    0deg,
    rgba(242, 242, 242, 1) 0%,
    rgba(117, 121, 121, 0.34217436974789917) 100%
  );
  /* background-color: #dcdddc; */
  height: 200px;
  margin: 0;
}

.banner .logo {
  width: 100px;
  background-color: white;
  display: block;
  margin: 0 auto;
  border-radius: 2px;
}

.banner .title {
  text-align: center;
  font-size: 40px;
  padding-top: 10px;
}

/* Question + Answers */
.container .question {
  font-size: 25px;
}

.question,
.answer-options {
  text-align: center;
  padding: 10px;
}

.answer-form {
  height: 400px;
  padding-top: 50px;
}

.answer-form,
.answer-options {
  font-size: 50px;
}

.answer-form .submit-button {
  display: block;
  margin: 50px auto;
  padding: 30px;
  font-family: "Notable", sans-serif;
  font-size: 20px;
  border-radius: 2px;
}

/* Footer */
.footer-wrapper {
  background-color: #f2f2f2;
  padding: 20px;
  position: fixed;
  bottom: 0px;
  width: 800px;
}

.footer-wrapper::after {
  clear: both;
  content: "";
  display: table;
}

.q-total {
  float: left;
  font-size: 30px;
}

.score-total {
  float: right;
  font-size: 30px;
}

/* All other screens */
/* Banner Changes */
@media screen and (min-width: 799px) {
  .banner {
    height: 100px;
    padding-top: 15px;
  }

  .container {
    width: 800px;
    margin: 0 auto;
  }

  .banner .logo {
    float: left;
  }
}
