*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* Cellphone screens */
.banner {
  background-color: #dcdddc;
  height: 200px;
  margin: 0;
}

.banner .logo {
  width: 100px;
  height: 100px;
  background-color: white;
  display: block;
  margin: 0 auto;
}

.banner .title {
  text-align: center;
  padding-top: 25px;
}

/* Question + Answers */
.container .question {
  background-color: #f2f2f2;
}

.question,
.answer-options {
  text-align: center;
  padding: 10px;
}

.answer-form {
  height: 400px;
  padding-top: 50px;
}

.answer-form,
.answer-options {
  background-color: #dcdddc;
}

.answer-form .submit-button {
  display: block;
  margin: 0 auto;
  padding: 10px;
}

/* Footer */
.footer-wrapper {
  background-color: #f2f2f2;
  padding: 10px;
}

.footer-wrapper::after {
  clear: both;
  content: "";
  display: table;
}

.q-total{
  float: left;
}

.score-total {
  float: right;
}


/* All other screens */
/* Banner */
@media screen and (min-width: 799px) {
.banner {
  height: 100px;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.banner .logo {
  float: left;
}
