*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  background-image: url("img/minecraft-background.png");
  font-family: 'Roboto Condensed', sans-serif;
}

.hide-view {
  display: none;
}

/* Landing Page */
.subheader {
  text-align: center;
  padding-top: 200px;
  font-family: "Press Start 2P", cursive;
}

.continue-button {
  display: block;
  margin: 250px auto 0;
  padding: 30px;
  font-size: 20px;
  border-radius: 2px;
  font-family: "Press Start 2P", cursive;
}

/* Incorrect Page */
.incorrect-text {
  text-align: center;
  padding: 100px 0 10px 0;
  font-size: 40px;
}

.correct-answer {
  margin: 30px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.push {
  margin-top: 275px;
}

/* Complete Page */
.score-complete {
  text-align: center;
  color: white;
  font-size: 50px;
  margin-top: 100px;
}

/* Content Page */
/* Cellphone screens */
.banner {
  background: rgb(242,242,242);
  background: linear-gradient(0deg, rgba(242,242,242,0.8) 0%, rgba(242,242,242,0.8) 100%);
  height: 200px;
  margin: 0;
}

.banner-container {
  margin: 0 auto;

}

.banner .logo {
  width: 100px;
  background-color: white;
  display: block;
  margin: 0 auto;
  border-radius: 2px;
}

.banner .title {
  text-align: center;
  font-size: 40px;
  padding-top: 10px;
  font-family: "Press Start 2P", cursive;
}

/* Question + Answers */

.container {
  display: block;
  height: 100vh;
  background: rgb(242, 242, 242);
  background: linear-gradient(
    0deg,
    rgba(242, 242, 242, 0.40379901960784315) 0%,
    rgba(242, 242, 242, 0.4) 100%
  );
}

.question {
  font-size: 35px;
  padding: 100px 0 10px 0;
  text-align: center;
}

.answer-options {
  margin: 20px 0;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
}

li {
  list-style: none;
  padding: 10px;
}

.answer-form .submit-button {
  display: block;
  margin: 80px auto;
  padding: 30px;
  font-size: 20px;
  border-radius: 2px;
  font-family: "Press Start 2P", cursive;
}

/* Footer */
.footer-wrapper {
  background: rgb(242, 242, 242);
  background: linear-gradient(
    0deg,
    rgba(242, 242, 242, 0.40379901960784315) 0%,
    rgba(242, 242, 242, 0.4) 100%
  );
  padding: 20px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-radius: 4px;
}

.footer-wrapper::after {
  clear: both;
  content: "";
  display: table;
}
.q-total,
.score-total {
font-size: 15px;
font-family: "Press Start 2P", cursive;
}

.q-total {
  float: left;
}

.score-total {
  float: right;
}

/* All other screens */
/* Banner Changes */
@media screen and (min-width: 799px) {
  .banner {
    height: 100px;
    padding-top: 15px;
  }

  .banner-container {
    width: 800px;
    margin: 0 auto;
  }

  .banner .logo {
    float: left;
  }

  .container-inside {
    width: 800px;
    margin: 0 auto;
  }

  .footer-wrapper {
    width: 800px;
  }
}


